/** turnit.css
 */

/* Main container*/
.magazine-viewport .magazine-container{
    position: absolute;
    top:367px;
    left:568px;
    width:1136px;
    height:734px;
    margin:auto;
}

/* Viewport */
.magazine-viewport .magazine{
    width:1136px;
    height:734px;
    left:-568px;
    top:-367px;
}

/* Important: the image size must be set to 100%.
 *  Otherwise the position of the images would be messed up upon zooming.
 */
/*.magazine img{*/
    /*width:100%;*/
    /*height:100%;*/
/*}*/
