/* Primary container */
.dynamicformset {
    position: relative;
}

.dynamicformset-sample {
    display: none;
}

/* Form container */
.dynamicformset-row {
    display: block;
    padding-right: 20px;
}

/* Delete button */
.dynamicformset-clear {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAABEUlEQVR4AeWWt3UCQRBA8aYpKIKrQD18TCwTbgnkVIHp4i4UIeHlNxp5zTsNdjLmZ2v+etO4w6DNmMSWglIp2JI0pX2ZZMiCA1JHUxcMz9Vk7BF89mSnJU1ekDN4pnlM02KFnMkKX+X0xuPZnxu5kOz/lbJTvKNCLFSaaqd9UBctTJElLR6orEZTWixN2ry+/Q6mN633VKNSzUday/TqQNuKxmiyrWRUtZQfRlaUEF/la5RkRVvEV/kaZWNFBeKrfI2SW1GJ+Cpfo5TxotihhU122PJHbciAIxJwaAOukVcGMRfbJP6qtUHz8svfVz2fpXmiGfFATs5/sufukz1ncOknYkRiQ06p5GxImtJu3F+8AXd0lPf62kHsAAAAAElFTkSuQmCC");
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin: 0.5em 0 0 2px;
    position: absolute;
    text-indent: -9999px;
    z-index: 10;
    padding: 0;
    right: 0;
}

/* Up/down arrow */
.dynamicformset-sort {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFlSURBVDiNlVNNSwJRFD33zfQlFEhEBLVwI2hQkgahGNSitkHrqFV/oFW0KAKhVf8hIgjdBrkbdIIgRNBJJwiSoG0IFWr4cVuYgzkf6Vm9e9495977Lg+wATMLNVdI3uWKK3Y5ACDsLtS8fgDQJoMT6ezz1EAGKU3zEXDajmhWSI3reJylvgwURZGJ5QsAox2OweszXv2kLwPZPX1MzMumTMJROl/cMtNdUPN6EMz3AIasqgEog+RQdMH7Yuogk8m4wHzlIAYAN7iRUEolYzy5c/jEuEum1rmD2MBIpeICUPvTwSCQhDBGNzrA5PAXPqr7AILOcn5qlicuO5HRwZrHUxNNbDPw7qBuMGM3HJ6rmgwAILLkfyWmPQAtm+qx1cD8QzdjeoNowHdDoDMLdXasXo31kmSR2P5Imn5LjI1f6lsAocii/7E313ILRNSSuL4D8BsAMOHQSvwvUpoeVnOFJDPbrvsHH3p2hZJ+oo0AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    cursor: ns-resize;
    display: none;
    height: 20px;
    left: 0;
    margin-top: 0.5em;
    position: absolute;
    text-indent: -999px;
    width: 20px;
}

/* Up/down arrow should appear only when mouse is moved over a form */
.dynamicformset-row:hover .dynamicformset-sort {
    display: block;
}

.dynamicformset.ui-sortable .dynamicformset-row {
    margin-left: 20px;
}
