
/**********************************************************************
 * styles for time sheets / schedules
 **********************************************************************/

.timesheet-header {
    overflow: auto;
    position: relative;
}

.timesheet-header .week-picker {
    bottom: 0.5em;
    position: absolute;
    right: 0;
}

.timesheet-header .week-picker label {
    margin-left: 1em;
}

.timesheet {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
}

.timesheet thead th,
.timesheet tbody td {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.timesheet tbody {
    background-color: white;
}

.timesheet tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.timesheet tbody td {
    padding: 5px;
    text-align: center;
}

.timesheet tbody td.employee {
    text-align: left;
}

.timesheet tbody p.shift {
    display: block;
    margin: 0;
}

.timesheet tbody tr.total {
    font-weight: bold;
}
